doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/debug_style.css')
        block scripts
    body
        block content
        footer#footer
            p TeamChaos LazerTag
