extends debug_layout

block scripts
    script(src='js/debug.js')


block content
    div.container#countdown-container
        span#countdown 00:00
    h1 State
        div.container
            div#state-holder
                div.fancy-table
                    div.fancy-table-head
                        table
                            thead
                                tr.row.head
                                th.fancy-cell.column Game State
                                th.fancy-cell.column Game Manager
                                th.fancy-cell.column Player Manager
                    div.fancy-table-body
                        table
                            tbody
                                tr.row
                                td.fancy-cell.column#state-game Unknown
                                td.fancy-cell.column#state-gamemanager Unknown
                                td.fancy-cell.column#state-playermanager Unknown
    h1 Players
    div.container
        div#playerlist-holder
            div.fancy-table
                div.fancy-table-head
                    table
                        thead
                            tr.row.head
                            th.fancy-cell.column Registered
                            th.fancy-cell.column ToBeReady
                            th.fancy-cell.column Active
                            th.fancy-cell.column TobeEvaluated
                div.fancy-table-body.js-pscroll
                    table#playerlist
    button.button#refreshbutton(onclick="refresh()") Refresh
