extends layout

block scripts
    script(src='js/main.js')


block content
    div.stage-container#setup
        h1 Setup
        h3 Registered players
        div.player-list
            div.fancy-table
                div.fancy-table-body
                    table#registered-playerlist
        button.button(onclick="setReady()")#readybutton Ready
        div#config
            div#config-players-holder
                div.fancy-table
                    div.fancy-table-head
                        table
                            thead
                                tr.row.head
                                th.fancy-cell.column1 ID
                                th.fancy-cell.column2 Name
                                th.fancy-cell.column3 Team
                                th.fancy-cell.column4
                    div.fancy-table-body
                        table#config-players
                //button.button(onclick="addPlayerRow()") Add Player
            div#config-options
                div.config-holder
                    span Gamemode
                    select.config-opt#config-gameMode
                        option FreeForAll
                        option TeamDeathMatch
                        option Capture
                        option CaptureFlag
                div.config-holder
                    span Friendly Fire
                    input(type="checkbox").config-opt#config-friendlyFire
                div.config-holder
                    span Launch Trigger
                    select.config-opt#config-launchTrigger
                        option radio
                        option timer
                        option spawnpoint
                div.config-holder
                    span Launch Time
                    input(type="number" min="1"  step="1").config-opt#config-launchTime
                div.config-holder
                    span Stop Trigger
                    select.config-opt#config-stopTrigger
                        option time
                        option score
                        option manual
                div.config-holder
                    span Score Limit
                    input(type="number" min="1" step="1").config-opt#config-scoreLimit
                div.config-holder
                    span Time Limit
                    input(type="number" min="1" step="1").config-opt#config-timeLimit
                div.config-holder
                    span Kill Multiplier
                    input(type="number" min="1" step="1").config-opt#config-killMultiplier
                div.config-holder
                    span AssistMultiplier
                    input(type="number" min="1" step="1").config-opt#config-assistMultiplier
                div.config-holder
                    span Weapon Type
                    select.config-opt#config-weapon
                        option default
                        option instant
                        option auto
                div.config-holder
                    span Local Respawn
                    input(type="checkbox").config-opt#config-localRespawn
                div.config-holder
                    span Respawn Offset
                    input(type="number" min="0" step="2").config-opt#config-respawnOffset
                div.config-holder
                    span Respawn Delay
                    input(type="number" min="0" step="10").config-opt#config-respawnDelay
                div.config-holder
                    span Gamemode points
                    input(type="number" min="0" step="1").config-opt#config-modePoints


    div.stage-container#ready
        h1 Ready
        h3 Non ready players
        div.player-list
            div.fancy-table
                div.fancy-table-body
                    table#ready-playerlist
        button.button#startbutton(onclick="start()") Start
    div.stage-container#running
        h1 Running
        div.container#countdown-container
            span#countdown 00:00
        div.scoreboard-holder.scoreboard-holder-single
            div.fancy-table
                div.fancy-table-head
                    table
                        thead
                            tr.row.head
                            th.fancy-cell.column1 Name
                            th.fancy-cell.column2 Kills
                            th.fancy-cell.column3 Assists
                            th.fancy-cell.column4 Deaths
                            th.fancy-cell.column5 Score
                div.fancy-table-body.js-pscroll
                    table.scoreboard
        div.scoreboard-holder-team.container
            div.scoreboard-holder-team.body
                div.scoreboard-holder-team.row
                    div.scoreboard-holder-team.headcell
                        span Team 1
                    div.scoreboard-holder-team.headcell
                        span Team 2
                div.scoreboard-holder-team.row
                    div.scoreboard-holder-team.cell
                        div.scoreboard-holer
                            div.fancy-table
                                div.fancy-table-head
                                    table
                                        thead
                                            tr.row.head
                                            th.fancy-cell.column1 Name
                                            th.fancy-cell.column2 Kills
                                            th.fancy-cell.column3 Assists
                                            th.fancy-cell.column4 Deaths
                                            th.fancy-cell.column5 Score
                                div.fancy-table-body.js-pscroll
                                    table.scoreboard-team1
                    div.scoreboard-holder-team.cell
                        div.scoreboard-holer
                            div.fancy-table
                                div.fancy-table-head
                                    table
                                        thead
                                            tr.row.head
                                            th.fancy-cell.column1 Name
                                            th.fancy-cell.column2 Kills
                                            th.fancy-cell.column3 Assists
                                            th.fancy-cell.column4 Deaths
                                            th.fancy-cell.column5 Score
                                div.fancy-table-body.js-pscroll
                                    table.scoreboard-team2

    div.stage-container#evaluation
        h1 Evaluation
        h3#evaluating-playerlist-title Evaluating players
            div.player-list
                div.fancy-table
                    div.fancy-table-body
                        table#evaluating-playerlist
        div.result-holder
            span#result-text Undefined
        div.scoreboard-holder
            div.fancy-table
                div.fancy-table-head
                    table
                        thead
                            tr.row.head
                            th.fancy-cell.column1 Name
                            th.fancy-cell.column2 Kills
                            th.fancy-cell.column3 Assists
                            th.fancy-cell.column4 Deaths
                            th.fancy-cell.column5 Score
                div.fancy-table-body.js-pscroll
                    table.scoreboard
        div.scoreboard-holder-team.container
            div.scoreboard-holder-team.body
                div.scoreboard-holder-team.row
                    div.scoreboard-holder-team.headcell
                        span Team 1
                    div.scoreboard-holder-team.headcell
                        span Team 2
                div.scoreboard-holder-team.row
                    div.scoreboard-holder-team.cell
                        div.scoreboard-holer
                            div.fancy-table
                                div.fancy-table-head
                                    table
                                        thead
                                            tr.row.head
                                            th.fancy-cell.column1 Name
                                            th.fancy-cell.column2 Kills
                                            th.fancy-cell.column3 Assists
                                            th.fancy-cell.column4 Deaths
                                            th.fancy-cell.column5 Score
                                div.fancy-table-body.js-pscroll
                                    table.scoreboard-team1
                    div.scoreboard-holder-team.cell
                        div.scoreboard-holer
                            div.fancy-table
                                div.fancy-table-head
                                    table
                                        thead
                                            tr.row.head
                                            th.fancy-cell.column1 Name
                                            th.fancy-cell.column2 Kills
                                            th.fancy-cell.column3 Assists
                                            th.fancy-cell.column4 Deaths
                                            th.fancy-cell.column5 Score
                                div.fancy-table-body.js-pscroll
                                    table.scoreboard-team2