extends debug_layout

block scripts
    script(src='js/scoreboard.js')


block content
    h1 Scoreboard
    div.container
        div#scoreboard-holder
            div.fancy-table
                div.fancy-table-head
                    table
                        thead
                            tr.row.head
                            th.fancy-cell.column1 Name
                            th.fancy-cell.column2 Kills
                            th.fancy-cell.column3 Assists
                            th.fancy-cell.column4 Deaths
                            th.fancy-cell.column5 Score
                div.fancy-table-body.js-pscroll
                    table#scoreboard
            button.button#refreshbutton(onclick="getScoreboard()") Refresh
