/*
General
 */
body {
    padding: 50px;
    font: 14px Helvetica, Arial, sans-serif;
}


#footer {
    padding-top: 4em;
    text-align: center;

}


h1 {
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


/*
Fancy table stuff
 */
table {
    width: 100%;
    text-align: center;

}


.fancy-table-head {
    padding-top: 16px;
    padding-bottom: 16px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.fancy-table {
    position: relative;
    padding-top: 60px;
    width: 100%;
}


.fancy-table-body {
    max-height: 90%;
    overflow: auto;
}

.fancy-table-head th {
    background-color: #99f;
    line-height: 1.4;
    font-size: 18px;
    color: #fff;
}

.fancy-table-body td {
    background-color: #eef;
    line-height: 1.4;
    font-size: 18px;
}

/*
Scoreboard
 */

#scoreboard-holder {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}


#scoreboard-holder .column1 {
    width: 40%;
    text-align: left;
}

#scoreboard-holder .column2 {
    width: 15%;
}

#scoreboard-holder .column3 {
    width: 15%;
}

#scoreboard-holder .column4 {
    width: 15%;
}

#scoreboard-holder .column5 {
    width: 15%;
}


#refreshbutton {
    background-color: #99f;
    width: 100%;
}

/*
Playerlist
 */
#playerlist-holder {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}


#playerlist-holder .column {
    width: 25%;
}


/*
States
 */
#state-holder {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}


#state-holder .column {
    width: 33%;
}

/*
Countdown
 */
#countdown-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

#countdown {
    font-size: 100px;
    color: #f33;
}