/*
General
 */
body {
    padding: 5px;
  font: 14px Helvetica, Arial, sans-serif;
    text-align: center;
}

#readybutton {
    width: 100%;
}

#footer {
  padding-top: 4em;
  text-align: center;

}

.config-holder {
    padding: 8px;
    background: #eef;
    margin: 5px;
}

.config-holder span {
    padding-right: 10px;
}

.config-holder input {
    height: 100%;
    font-size: 16px;
    width: 60px;
    background-color: #fafafa
}


.name-input {
    width: 90%;
    background-color: #fafafa;
}

#config-options {
    font-size: 16px;

    display: flex;
    width: 100%;
    flex-wrap: wrap;

}


h1 {
  text-align: center;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


/*
Fancy table stuff
 */
table {
  width: 100%;
    text-align: center;

}


.fancy-table-head {
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.fancy-table {
  position: relative;
  padding-top: 60px;
  width: 100%;
}


.fancy-table-body {
  max-height: 90%;
  overflow: auto;
}

.fancy-table-head th {
  background-color: #99f;
  line-height: 1.4;
  font-size: 18px;
  color: #fff;
}

.fancy-table-body td {
  background-color: #eef;
  line-height: 1.4;
  font-size: 18px;
}

/*
Scoreboard
 */

.scoreboard-holder {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 30px;
}


.scoreboard-holder .column1 {
    width: 40%;
    text-align: left;
}

.scoreboard-holder .column2 {
    width: 15%;
}

.scoreboard-holder .column3 {
    width: 15%;
}

.scoreboard-holder .column4 {
    width: 15%;
}

.scoreboard-holder .column5 {
    width: 15%;
}

/*
Countdown
 */
#countdown-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.player-list .fancy-table {
    padding-top: 10px;
}

#countdown {
    font-size: 100px;
    color: #f33;
}


.scoreboard-holder-team.container {
    display: table;
    width: 100%;
}

.scoreboard-holder-team.body {
    display: table-row-group;
}

.scoreboard-holder-team.row {
    display: table-row;
}

.scoreboard-holder-team.cell {
    display: table-cell;

}

.scoreboard-holder-team .fancy-cell.column1 {
    width: 40%;
    text-align: left;
}

.scoreboard-holder-team .fancy-cell.column2 {
    width: 15%;
}

.scoreboard-holder-team .fancy-cell.column3 {
    width: 15%;
}

.scoreboard-holder-team .fancy-cell.column4 {
    width: 15%;
}

.scoreboard-holder-team .fancy-cell.column5 {
    width: 15%;
}


.scoreboard-holder-team.headcell {
    display: table-cell;
    font-size: 3em;
    font-weight: bold;
    text-align: center;

}


#config-players-holder .column1 {
    text-align: left;
    width: 10%;
}

#config-players-holder .column2 {
    width: 70%;
}

#config-players-holder .column3 {
    width: 10%;
}

#config-players-holder .column4 {
    width: 10%;
}


.result-holder {
    text-align: center;
    font-size: 3em;
}